mixin sercificates()
    section.sercificates
        .sercificates__wrap.wrap
            h5.sercificates__subtitle.subtitle наши награды
            .sercificates__title.title-2 <b> участие </b> <br> в международных <br> консурсах
            .sercificates.slider
                .slider__arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="svg-icon icon-arrow icon-arrow-left" viewBox="0 0 50 50">
                        <g>
                            <rect data-name="Прямоугольник 39" class="cls-1" width="50" height="50"></rect>
                            <path data-name="Фигура 18" class="cls-2" d="M417.7,6366.9l-8,7.54,8,7.66" transform="translate(-395 -6349)"></path>
                            <path data-name="Фигура 17" class="cls-2" d="M431.3,6374.9H409.7" transform="translate(-395 -6349)"></path>
                        </g>
                    </svg>
                .slider__content
                    .slider__body
                        .slider__slide
                            img(src="../assets/images/sercificates-1.jpg")
                        .slider__slide
                            img(src="../assets/images/sercificates-1.jpg")
                        .slider__slide
                            img(src="../assets/images/sercificates-1.jpg")
                        .slider__slide
                            img(src="../assets/images/sercificates-1.jpg")
                .slider__arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="svg-icon icon-arrow icon-arrow-right" viewBox="0 0 50 50">
                        <style>.cls-1, .cls-2 { fill: none; stroke: #1b2024; }.cls-1 { stroke-width: 2px; } .cls-2 { stroke-width: 1px; fill-rule: evenodd;}
                        </style>
                        <g>
                            <rect data-name="Прямоугольник 39" class="cls-1" width="50" height="50"></rect>
                            <path data-name="Фигура 18" class="cls-2" d="M1504.3,6381.1l8-7.54-8-7.66" transform="translate(-1477 -6349)"></path>
                            <path data-name="Фигура 17" class="cls-2" d="M1490.7,6373.1h21.6" transform="translate(-1477 -6349)"></path>
                        </g>
                    </svg>