.sercificates
    &__wrap
        padding-top 90px
        padding-bottom 70px
    &__title
        margin 66px 0 60px 100px
    &__subtitle
        margin-left 180px
    .slider
        grid-template-columns 1fr 896px 1fr
        @media (max-width 1000px)
            grid-template-columns 1fr 80vw 1fr
        &__slide
            width 170px
            margin 0 auto
        &__body
            display flex
            justify-content space-between

            width 100%
        .own-item
            width auto