mixin form-2()
    section.form-2(id="workshop")
        .form-2__wrap.wrap
            h3.form-2__subtitle Приходите к нам
            h2.form-2__title в мастерскую
            p.form-2__text и вы познаете секреты художественной обработки камня
            form.form-2__form.form
                input.form__input(type="text" name="phone" placeholder="ВАШ ТЕЛЕФОН")
                button.form__btn посетить мастерскую
            .form-1__agree
                .form-1__checkbox
                    input(type="checkbox" name="agree")
                p Нажимая кнопку "Оставить заявку", я даю своё согласие на обработку моих персональных данных в соответствии с Федеральным законом от 27.07.2006 года №152‑ФЗ "О персональных данных", на условиях и для целей, определённых в Согласии на обработку персональных данных.