mixin form-1()
    section.form-1
        .form-1__wrap.wrap
            h3.form-1__subtitle Создайте свой индивидуальный
            h2.form-1__title ДИЗАЙН ПРОЕКТ
            ul.form-1__list
                li.form-1__elem.text Мы сделаем вашу жизнь чуточку <br> уютнее и комфортнее
                li.form-1__elem.text Расскажем вам о камне и его особенностях
                li.form-1__elem.text Воплотим ваши внутренние желания <br> и мечты в реальность
                li.form-1__elem.text Каждый наш проект уникален. <br> Мы разрабатываем неповторимый <br> дизайн-проект именно для вас
            form.form-1__form.form
                input.form__input(type="text" name="name" placeholder="ВАШЕ ИМЯ")
                input.form__input(type="text" name="phone" placeholder="ВАШ ТЕЛЕФОН")
                button.form__btn оставить заявку
            .form-1__agree
                .form-1__checkbox
                    input(type="checkbox" name="agree")
                p Нажимая кнопку "Оставить заявку", я даю своё согласие на обработку моих персональных данных в соответствии с Федеральным законом от 27.07.2006 года №152‑ФЗ "О персональных данных", на условиях и для целей, определённых в Согласии на обработку персональных данных.