mixin about()
    section.about(id="company")
        .about__wrap.wrap
            .about__top
                .about__content
                    h5.about__subtitle.subtitle камень - это вечность
                    h2.about__title.title-2 камень, <br> побывавший <br> в руках <br> мастера - <br> <b> это вечная <br> красота </b>
                .about__img
                    img(src="./assets/images/main-man.jpg")
                    span Александр Безруков
            .about__mid
                h6.about__name Мастерская BezrukovArt
                .about__text.text
                    p Существует несколько десятелетий, успешно воплощая в камне любые идеи заказчика. Возможности нашей мастерской и профессионализм сотрудников позволяет создавать самые сложные объемные конструкции или формы из натурального камня и других материалов.
                    p Работа начинается с эскиза и заканчивается монтажом объекта. Мы выполняем все виды мозаики, оформляем фасады, в том числе порталы и окна, делаем колонны, лестницы, фризы и многое другое.
            .about__bottom
                .about__img-book
                    img(src="./assets/images/architecture-image.png")
                .about__right
                    h2.about__title.title-2 <b> архитектура - </b>  <br>это искусство, <br> в котором <br >мы живем
                    button.about__btn.btn-outline.btn-outline--black.animate-btn--black <span></span> презентация