mixin portfolio()
    section.portfolio
        .portfolio__wrap.wrap
            .portfolio__elems
                .portfolio__top
                    a(href="#").portfolio__elem.elem-1
                        .portfolio__img
                            img(src="../assets/images/mthumb.jpg")
                        .portfolio__hide
                            span ванные комнаты
                    a(href="#").portfolio__elem.elem-2
                        .portfolio__img
                            img(src="../assets/images/mthumb.jpg")
                        .portfolio__hide
                            span холл
                    a(href="#").portfolio__elem.elem-3
                        .portfolio__img
                           img(src="../assets/images/mthumb.jpg")
                        .portfolio__hide
                            span бассейны
                    a(href="#").portfolio__elem.elem-4
                        .portfolio__img
                            img(src="../assets/images/4.jpg")
                        .portfolio__hide
                            span лестницы
                    a(href="#").portfolio__elem.elem-5
                        .portfolio__img
                            img(src="../assets/images/5.jpg")
                        .portfolio__hide
                            span кухни
                .portfolio__mid
                    .portfolio__elem.elem-6
                        .portfolio__img
                           img(src="../assets/images/mthumb.jpg")
                        .portfolio__hide
                            span камины
                    a(href="#").portfolio__elem.elem-7
                        .portfolio__img
                            img(src="../assets/images/mthumb.jpg")
                        .portfolio__hide
                            span хамамы
                    a(href="#").portfolio__elem.elem-8
                        .portfolio__img
                           img(src="../assets/images/mthumb.jpg")
                        .portfolio__hide
                            span зимние сады
                    a(href="#").portfolio__elem.elem-9
                        .portfolio__img
                            img(src="../assets/images/mthumb.jpg")
                        .portfolio__hide
                            span римская мозаика
                    a(href="#").portfolio__elem.elem-10
                        .portfolio__img
                            img(src="../assets/images/mthumb.jpg")
                        .portfolio__hide
                            span авторскике работы карлова сергея
                .portfolio__bottom
                    a(href="#").portfolio__elem.elem-11
                        .portfolio__img
                            img(src="../assets/images/5.jpg")
                        .portfolio__hide
                            span колонны. мебель. фонтаны.
                    a(href="#").portfolio__elem.elem-12
                        .portfolio__img
                            img(src="../assets/images/5.jpg")
                        .portfolio__hide
                            span элементы антик