mixin menu()
    nav.menu.wrap
        ul.menu__elems
            li.menu__elem: a.menu__link(data-link="company") о компании
            li.menu__elem: a.menu__link(data-link="portfolio") портфолио
            li.menu__elem: a.menu__link(data-link="advs") преимущества
            li.menu__elem: a.menu__link(data-link="about") о нас
            li.menu__elem: a.menu__link(data-link="sercificates") реализация
            li.menu__elem: a.menu__link(data-link="workshop") мастерская
        .menu__btn
            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon arrow-down" width="50" height="50" viewBox="0 0 50 50">
                <g>
                    <rect data-name="Прямоугольник 39" class="cls-1" width="50" height="50"></rect>
                    <path data-name="Фигура 18" class="cls-2" d="M1512.9,850.3l7.54,8,7.66-8" transform="translate(-1495 -823)"></path>
                    <path data-name="Фигура 17" class="cls-2" d="M1520.9,836.7v21.6" transform="translate(-1495 -823)"></path>
                </g>
            </svg>