mixin news()
    section.news
        .news__wrap.wrap
            .news__titles
                h5.news__subtitle.subtitle почитайте о нас
                h2.news__title.title-2 что <br> о нас <br> говорит <br> <b> пресса </b>
            .news__elems
                .news__elem
                    .news__img: img(src="../assets/images/news-1.jpg")
                    .news__content
                        span.news__news-title Под знаком творчества 
                        p.news__text.text Камень — это вечность. Камень, побывавший в руках мастера, — это вечная красота. Опыт предшественников, знания художественных возможностей камня, секреты обработки бережно используются нашими мастерами.
                        button.news__btn подробнее
                .news__elem
                    .news__img: img(src="../assets/images/news-1.jpg")
                    .news__content
                        span.news__news-title Мозайка
                        p.news__text.text Кажется, что это просто — составь, склей вместе несколько плоских камушков, положи в раствор разноцветную галечку — вот и мозаика. Так и было несколько тысяч лет назад в Месопотамии и Египте, когда еще не существовало слова «мозаика».
                        button.news__btn подробнее
                button.news__more еще статьи о нас
                .news__elem
                    .news__img: img(src="../assets/images/news-1.jpg")
                    .news__content
                        span.news__news-title Новый взгляд на старый материал
                        p.news__text.text Мастерская Александра Безрукова воплощает в камне любые идеи заказчика. Работа начинается с эскиза и заканчивается монтажом на объекте. Мы выполняем все виды мозаики, оформляем фасады, в том числе порталы и окна, делаем колонны, лестницы, фризы и многое другое.
                        button.news__btn подробнее
