mixin contacts()
    section.contacts
        .contacts__wrap.wrap
            .contacts__content
                h2.contacts__title.title-2 КАМЕНЬ — <br> <b> это вечная <br> красота </b>
                .contacts__adress
                    .contacts__subtitle Адрес
                    adress Москва, Истринский район, <br> посёлок Северный, <br> стр. 37
            .contacts__map(id="map")