// bg = #2a2a2c
// dark-bg = #252528

// tab-bg = #333

dark-gray = #3c3c3d

light-black = #141414
// dark-gray = #353535
black = #000000

white = #fff
yellow =#ffba00
light-gray = #f4f4f4
gray-text = #b1b1b1