.advantages
    &__wrap
        padding-top 60px
    &__elems
        display grid
        grid-template-columns: repeat(auto-fill, minmax(100px, 265px));
        grid-column-gap 25px

        margin-top 80px
    &__text
        width 90%

        margin 26px 0 72px

        color light-black
        letter-spacing 0.8px
    &__img
        img
            height 64px
            width 64px
        