mixin advantages()
    section.advantages(id="advs")
        .advantages__wrap.wrap
            .advantages__title.title-2 <b>стремление <br> к идеалу </b> <br> и создание <br> невозможного
            .advantages__elems
                .advantages__elem
                    .advantages__icon
                        svg: use(xlink:href="././assets/sprites.svg#advantages-1")
                    p.advantages__text.text Авторский дизайн <br> Художественный, творческий <br> подход к камню
                .advantages__elem
                    .advantages__icon
                        svg: use(xlink:href="././assets/sprites.svg#advantages-2")
                    p.advantages__text.text Используем только <br> натуральные качественные материалы
                .advantages__elem
                    .advantages__icon
                        svg: use(xlink:href="././assets/sprites.svg#advantages-3")
                    p.advantages__text.text Все проекты в нашем <br> портфолио эксклюзивны. А интерьер отражает индивидуальность клиента
                .advantages__elem
                    .advantages__icon
                        svg: use(xlink:href="././assets/sprites.svg#advantages-4")
                    p.advantages__text.text Уделяем внимание каждой детали, даже незначительной
                .advantages__elem
                    .advantages__icon
                        svg: use(xlink:href="././assets/sprites.svg#advantages-5")
                    p.advantages__text.text Используем интересное сочетание различных материалов и технологий
                .advantages__elem
                    .advantages__icon
                        svg: use(xlink:href="././assets/sprites.svg#advantages-6")
                    p.advantages__text.text Соответствуем высоким требованиям стандарта качества
                .advantages__elem
                    .advantages__icon
                        svg: use(xlink:href="././assets/sprites.svg#advantages-7")
                    p.advantages__text.text Мы следуем только правильной геометрии
                .advantages__elem
                    .advantages__icon
                        svg: use(xlink:href="././assets/sprites.svg#advantages-8")
                    p.advantages__text.text В работе с материалом используем особенный технологический подход