mixin footer()
	.footer
		.footer__wrap.wrap
			.footer__content
				a.footer__logo(href="#"): img(src="./assets/images/logo.jpg" alt="logo")
				span Художественная мастерская Александра Безрукова
			
