.footer 
	&__wrap
		height 135px
	&__content
		display flex
		align-items center

		width 77%
		height 100%

		margin-left auto
		margin-right 0
	&__logo
		margin-right 20px
	span
		max-width 230px
		font 800 16px/19px 'Lato', sans-serif