mixin facts()
    section.facts
        .facts__wrap.wrap
            h5.facts__subtitle.subtitle факты о мастерской
            ul.facts__elems
                li.facts__elem <b> 25 </b> лет упорного труда
                li.facts__elem <b> 200 </b> реализованных проектов
                li.facts__elem <b> 14 </b> мастеров <br> в цеху